<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
		<title>ADFF - Advanced Duplicate File Finder</title>
		<link rel="stylesheet" href="third-party/bootstrap.min.css">
		<!--[if lt IE 9]>
			<script src="third-party/html5shiv.js"></script>
		<![endif]-->
		<script src="third-party/jquery-3.5.0.min.js"></script>
		<script src="third-party/angular.min.js"></script>
	</head>
	<body ng-app="adff" ng-controller="MainController">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="m-5">ADFF - Advanced Duplicate File Finder</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2 class="m-3">Manage Directories</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<input id="newDirectory" ng-model="newDirectory" type="text" name="value" style="width: 60%;" placeholder="Add a directory - /example/directory/path" />
							<a ng-click="addDir()" href="javascript:void(0);" title="Click to add directory" class="badge badge-primary badge-pill">Add</a>
						</li>
						<li ng-repeat="item in directories | orderBy: ''" class="list-group-item d-flex justify-content-between align-items-center">
							{{ item }}
							<a ng-click="rmDir(item)" href="javascript:void(0);" title="Click to delete directory" class="badge badge-primary badge-pill">Delete</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<script src="js/app.js"></script>
	</body>
</html>